{% extends "_base.html" %}
{% block title %}-a{% endblock %}
{% block header_title %}<a href="..">sudog</a> --about-the-author{% endblock %}
{% block main %}
    <h2>ABOUT THE AUTHOR</h2>
    <p class="indent">
        Jay Snyder is a professional software engineer hailing from Oregon, USA.
    </p>
    <p class="indent">
        His fascination with computers and technology began in the early 90s, when his parents brought
        home a Packard Bell 486 desktop. From that point forward he developed an insatiable curiosity
        to discover what made computers "tick".
    </p>
    <p class="indent">
        While Jay's hobbyist experience spans decades, the professional leg of his journey started in
        2018.
    </p>
    <p class="indent">
        At that time he was working in the Customer Service department of a successful Portland
        startup. In his free time Jay was creating browser plugins to augment the aging and neglected
        tools he and his CX teammates were using. The plugins were so robust and efficient, that they
        caught the attention of the directors. He was offered an Engineering position, and his
        professional passion was finally realized.
    </p>
    <p class="indent">
        When off the clock, Jay likes to spend time with family and friends, explore the outdoors,
        collect and restore old electronics, and continue his personal education.

    </p>
{% endblock %}
