{% extends "_base.html" %}
{% block header_title %}man sudog{% endblock %}
{% block main %}
    <h2>DESCRIPTION</h2>
    <p class="indent">
        sudog is intended to serve as a professional portal, portfolio, and virtual test lab for its author.
    </p>
    <p class="indent">
        The author is a huge proponent of free and open-source software, and encourages readers to
        learn from, fork, and expand upon any and all code originating from sudog.
    </p>
    <h2>OPTIONS</h2>
    <p class="indent">
        -a, <a href="about-the-author">--about-the-author</a><br />
        -g, <a href="https://github.com/jay-snyder/" target="_blank" rel="noreferrer noopener">--github</a><br />
        -l, <a href="https://www.linkedin.com/in/mister-jay-snyder/" target="_blank"
            rel="noreferrer noopener">--linkedin</a><br />
    </p>
{% endblock %}
